.title {
    font-family: "Progesteron", sans-serif;
    font-size: 256px;
    font-weight: normal;
    background: radial-gradient(circle, rgba(169, 255, 188, 1) 2.68%, rgba(255, 255, 255, 1) 99.48%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    margin: 0;
    margin-bottom: 20px;
    max-width: 100%;
    text-align: center;
}

.subtitle {
    font-family: "Inter", sans-serif;
    font-size: 32px;
    font-weight: 300;
    color: var(--text-primary);
    max-width: 833px;
    margin: 0 auto;
    text-align: center;
}

.blur-group {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 1391px;
    height: 1391px;
    filter: blur(302.4px);
    pointer-events: none;
}

